{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index preoperacional</title>
    <link rel="stylesheet" href="{% static "Styles/Index.css" %}">
</head>
<style>
    body{
        background-image: url("{% static 'Img/fondos-01.png' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    
</style>

<header>
    <div class="header">
        <div id="navContainer" class="nav-container">
            <button class="nav-button" onclick="toggleNavMenu()">☰</button>
            <div id="navMenu" class="nav-menu">
                <a href="{% url 'Index' %}">Pagina principal</a>
                <!--<a href="{% url 'IndexSPV' %}">Formulario de solicitud de personal y vinculación</a>-->
                <!--<a href="{% url 'Index TD' %}">Formulario para realizar hoja de vida equipos de seguimiento y/o elementos dielectricos</a>-->
                <!--<a href="{% url 'InexHVV' %}">Formulario para realizar hoja de vida vehículos</a>-->
                <!--<a href="{% url 'IndexSE' %}">Formulario de Solicitud de equipos HTA y otros</a>-->
            </div>
        </div>
        <h1>Formulario preoperacional de vehículo.</h1>
    </div>
</header>

<body>    
    <center>
        <div class="Info" method='POST'>
            <p>En el siguiente formulario se verificará el estado del vehículo antes de ponerse en operación.</p>
            <p>¿Para qué sirve una inspección preoperacional?</p>
            <p>es un conjunto de revisiones que se realizan antes de poner en marcha cualquier tipo de vehículo. Esta práctica busca identificar cualquier anomalía o defecto que pueda comprometer la seguridad del vehículo y de quienes lo utilizan. Además, permite realizar un mantenimiento preventivo que puede prolongar la vida útil del vehículo y optimizar su rendimiento.</p>
            <a href='{% url 'FormG' %}'><button>Continuar</button></a>
        </div>
    </center>
    
    <script>
        function toggleNavMenu() {
            var x = document.getElementById("navMenu");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function toggleNavMenu() {
            var x = document.getElementById("navMenu");
            x.classList.toggle("visible");
        }
    </script>

</body>
</html>