{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General data vehicle</title>
    <link rel="stylesheet" href="{% static "Styles/Forms/Data_personnel.css" %}">
</head>

<style>
    body{
        background-image: url("{% static 'Img/' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>  

<header>
</header>

<body>
    <div class='container'>
        <h1>Datos generales del vehículo</h1>
        {{ Error }}
        <form method = 'POST'>
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>