{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General data vehicle</title>
    <link rel="stylesheet" href="{% static "Styles/Request_devices.css" %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"></script>
</head>

<style>
    body{
        background-image: url("{% static 'Img/' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>  

<header>
</header>

<body>
    <div class='container'>
        <h1>{{ title }}</h1>
        <form id="myForm" method = 'POST'>
            <div id="newFields"></div>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="button" id="addButton">Agregar</button>

            <center><button type="submit">Enviar</button></center>
        </form>

        <script>
            $(document).ready(function() {
                document.getElementById('id_column').classList.add('dropdown-input');
                var url = "{% url 'SearchSE' model_name %}?q=%QUERY";
                console.log(url);
                var vehiculos = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: url,
                        wildcard: '%QUERY'
                    }
                });

                $('#id_column').typeahead(null, {
                    source: vehiculos
                }).on('typeahead:render', function() {
                    $('.tt-menu').insertAfter('#id_column');
                });
                var counter = 0;
                var addButton = $("#addButton");
                var form = $("#myForm"); 

                if (addButton.length && form.length) {
                    addButton.click(function(e) {
                        e.preventDefault();
                        var columnValue = $("#id_column").val();
                        $("#id_column").val('');

                        var suggestions = {{ suggestions|safe }};

                        var existingField = $("input").filter(function() {
                            return this.name === columnValue;
                        });
                
                        if (existingField.length > 0) {
                            alert("Ya existe un campo con el nombre '" + columnValue + "'. Por favor, elige un nombre diferente.");
                        }else{
                            if (suggestions.includes(columnValue)) {
                                counter++;
                        
                                var newInput = $(`<div><label for="field${counter}">${columnValue}</label>
                                                    <input type="number" id="id_${columnValue}" name="${columnValue}" /></div>`);
                        
                                newInput.appendTo(newFields);
                            } else {
                                alert("El valor ingresado no coincide con ninguna sugerencia. Por favor, elige un valor de la lista de sugerencias.");
                            }
                        }
                    });
            } else {
                console.error("No se encontraron el botón 'Agregar' o el formulario");
            }

                        form.submit(function(e) {
                            var numFields = $(this).find('input[type="number"]').length;
                            
                            if (numFields < 1) {
                                e.preventDefault();
                                alert('Por favor, agrega al menos un campo dinámico.');
                                return;
                            }

                            var allFieldsFilled = true;
                            $('input[type="number"]').each(function() {
                                if ($(this).val() === '') {
                                    e.preventDefault();
                                    alert('El campo ' + $(this).attr('name') + ' está vacío. Por favor, rellénalo antes de enviar.');
                                    allFieldsFilled = false;
                                    return false;
                                }
                            });

                            if (!allFieldsFilled) {
                                return;
                            }
                        });
                    });
        </script>
    </div>
</body>