{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions of employment form</title>
    <link rel="stylesheet" href="{% static "Styles/Forms/Conditions.css" %}">
</head>

<style>
    body{
        background-image: url("{% static 'Img/Contrato2.jpg' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<header>
</header>

<body>
    <div class='container'>
        <h1>Condiciones de vinculación.</h1>
        <form method = 'POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>