{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inspección</title>
    <link rel="stylesheet" href="{% static 'Styles/FormI.css' %}">
</head>
<style> 
    body {
        background-image: url("{% static 'Img/Inspeccion.jfif' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    } 
</style>
<body>
    <div class="container">
        <h2>Formulario de Inspección parte delantera</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
               {{ form }}
               <!-- Asegúrate de que el valor del radio button coincida con el selector en JS -->
               <ul>
                   <li><input type="radio" name="nombre_del_grupo_radio" value="NC"> No Cumple</li>
                   <li><input type="file" id="id_del_input_para_foto" name="nombre_del_campo_foto" style="display: none;"></li>
               </ul>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <script src="{% static 'Js/Form.js' %}"></script>
</body>
</html>