body {
    background-image: url("{% static 'Img/Inspeccion.jfif' %}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px #00000080;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
.form-check-input,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

input[type="file"],
.file-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.btn-primary:hover {
    background-color: #fff;
    color: #4CAF50; 
}

.Error {
    color: rgb(204, 0, 0);
}

.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.radio-option {
    display: flex;
    flex-direction: column;
}

.radio-group label {
    margin-right: 10px;
}

.form-check-input {
    margin-right: 5px;
}

.form-check-input:checked + .form-check-label {
    color: #388e3c;
}

.form-check-input:checked + .form-check-label::before {
    content: "";
    color: transparent;
    margin-right: 5px;
}

.btn.btn-primary {
    position: relative;
}

.ui-autocomplete {
    position: relative;
}

.ui-autocomplete {
    background-color: rgb(0, 0, 0);
    overflow: visible;
    color: rgb(255, 255, 255);
}

form {
    overflow: visible;
}

.Menu-de-Imagen{
    background-color: #333;
    padding: 20px;
    border-radius: 5px;

}

#btn-Menu-de-Imagen {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Estilo para el radio button oculto */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Estilo para el círculo personalizado */
.radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* Estilo para el círculo interno cuando el radio button está seleccionado */
.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.form-control{
    color: #000;
}