{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index TD</title>
    <link rel="stylesheet" href="{% static "Styles/IndexTD.css" %}">
</head>
<style>
    body{
        background-image: url("{% static 'Img/StromD1.jpg' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<header>
    <div class="header">
        <div id="navContainer" class="nav-container">
            <button class="nav-button" onclick="toggleNavMenu()">☰</button>
            <div id="navMenu" class="nav-menu">
                <a href="{% url 'Index' %}">Pagina principal</a>
                <a href="{% url 'Index preoperational' %}">Formulario de Inspeccion preoperacional</a>
                <a href="{% url 'IndexSPV' %}">Formulario de solicitud de personal y vinculación</a>
                <a href="{% url 'InexHVV' %}">Formulario para realizar hoja de vida vehículos</a>
                <a href="{% url 'IndexSE' %}">Formulario de Solicitud de equipos HTA y otros</a>
            </div>
        </div>
        <center><h1>Formulario para realizar hoja de vida equipos de seguimiento y/o elementos dielectricos</h1></center>
    </div>
</header>

<body>
    <center>
        <div class="Info" method='POST'>
            {% lorem 3 b random %}

            <p>A continuación vas a encontrar dos botones que te van a redirigir a dos formularios distintos.<br><br>
                Agregar equipo: Si oprimes este botón, te va a redirigir a un formulario para crear la hoja de vida de un equipo.<br>
                IMC: 'IMC' son las siglas de Inspección, Mantenimiento y/o Calibración. Si oprimes este botón, te va a redirigir a un formulario para describir las actividades realizadas en la inspección, mantenimiento y/o calibración de los equipos.</p>
            <div clas='Buttons_group' style="display: flex; justify-content: space-around;">
                <p><a href='{% url 'Add_devices' %}'><button>Agregar equipo</button></a></p>
                <p><a href='{% url 'IMC' %}'><button>IMC</button></a></p>
            </div>
        </div>
    </center>

    <script>
        function toggleNavMenu() {
            var x = document.getElementById("navMenu");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function toggleNavMenu() {
            var x = document.getElementById("navMenu");
            x.classList.toggle("visible");
        }
    </script>
    
</body>
</html>